*{
    box-sizing: border-box;
}
header{
    padding: 20px;
    background-color: linen;
}
header h1{
    padding: 5px 5px 5px 20px;
}
.navbar{
    background-color:rgba(238,130,238,0.5);
    
}
.navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.navbar li{
    float:left;
}
.navbar a{
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
.navbar a:hover{
    background-color: white;
}
.main{
    font-size: 40px;
    text-align: center;
    margin: 30px;
}
.element{
    margin: 20px 10px;
    text-align: center;
    background-color: darkviolet;
    color: floralwhite;
    float: left;
    
}
.element p{
    text-align: justify;
}




@media screen and (max-width: 700px) {
    .botton {   
        float: none;
    }
}
